services

<div class="container py-5">
    <div class="row g-5">
        <!-- Service Item Start -->
        <div class="col-md-6 col-lg-4 service-item">
            <div class="service-img">
                <img src="img/service-1.jpg" alt="Service Image">
                <span class="new-badge">New</span>
            </div>
            <div class="service-content text-center">
                <h4>Haircut & Styling</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p class="price">$50.00</p>
                <button class="btn btn-primary">Book Now</button>
            </div>
        </div>
        <!-- Service Item End -->

        <!-- Service Item Start -->
        <div class="col-md-6 col-lg-4 service-item">
            <div class="service-img">
                <img src="img/service-2.jpg" alt="Service Image">
                <span class="new-badge">New</span>
            </div>
            <div class="service-content text-center">
                <h4>Facial Treatment</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p class="price">$75.00</p>
                <button class="btn btn-primary">Book Now</button>
            </div>
        </div>
        <!-- Service Item End -->

        <!-- Service Item Start -->
        <div class="col-md-6 col-lg-4 service-item">
            <div class="service-img">
                <img src="img/service-3.jpg" alt="Service Image">
                <span class="new-badge">New</span>
            </div>
            <div class="service-content text-center">
                <h4>Manicure & Pedicure</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p class="price">$30.00</p>
                <button class="btn btn-primary">Book Now</button>
            </div>
        </div>
        <!-- Service Item End -->

        <!-- Service Item Start -->
        <div class="col-md-6 col-lg-4 service-item">
            <div class="service-img">
                <img src="img/service-4.jpg" alt="Service Image">
                <span class="new-badge">New</span>
            </div>
            <div class="service-content text-center">
                <h4>Hair Coloring</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p class="price">$100.00</p>
                <button class="btn btn-primary">Book Now</button>
            </div>
        </div>
        <!-- Service Item End -->

        <!-- Service Item Start -->
        <div class="col-md-6 col-lg-4 service-item">
            <div class="service-img">
                <img src="img/service-5.jpg" alt="Service Image">
                <span class="new-badge">New</span>
            </div>
            <div class="service-content text-center">
                <h4>Massage Therapy</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p class="price">$120.00</p>
                <button class="btn btn-primary">Book Now</button>
            </div>
        </div>
        <!-- Service Item End -->

        <!-- Service Item Start -->
        <div class="col-md-6 col-lg-4 service-item">
            <div class="service-img">
                <img src="img/service-6.jpg" alt="Service Image">
                <span class="new-badge">New</span>
            </div>
            <div class="service-content text-center">
                <h4>Makeup Services</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p class="price">$80.00</p>
                <button class="btn btn-primary">Book Now</button>
            </div>
        </div>
        <!-- Service Item End -->
    </div>
</div>